# ==============================
# Build folders
# ==============================
Debug/
Release/
build/

# ==============================
# Compiled objects and binaries
# ==============================
*.o
*.d
*.su
*.cyclo
*.map
*.elf
*.bin
*.hex
*.list

# ==============================
# Logs & temporary files
# ==============================
*.log
*.tmp
*.bak

# ==============================
# OS files
# ==============================
Thumbs.db
.DS_Store

# ==============================
# Eclipse / STM32CubeIDE metadata
# ==============================
.metadata/

# CDT autosave / workspace
*.launch

# ==============================
# VS Code
# ==============================
.vscode/settings.json
.vscode/ipch/
